<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>MustHaveJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  	<context-param>
  		<param-name>CHAT_ADDR</param-name>
  		<param-value>ws://localhost:8080/MustHaveJSP</param-value>
  	</context-param>
  
  
	<!-- filter mapping -->
	<filter>
		<filter-name>BasicFilter</filter-name>
		<filter-class>filter.BasicFilter</filter-class>
		<init-param>
			<param-name>FILTER_INIT_PARAM</param-name>
			<param-value>filter init params</param-value>
		</init-param>
	</filter>
  	<filter-mapping>
  		<filter-name>BasicFilter</filter-name>
  		<url-pattern>/filterListener/BasicFilter.jsp</url-pattern>
  	</filter-mapping>
  	
	<!-- servlet mapping -->
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>servlet.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/servlet/HelloServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DirectServlet</servlet-name>
		<servlet-class>servlet.DirectServletPrint</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DirectServlet</servlet-name>
		<url-pattern>/servlet/DirectServletPrint.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MemberAuth</servlet-name>
		<servlet-class>servlet.MemberAuth</servlet-class>
		<init-param>
			<param-name>admin_id</param-name>
			<param-value>admin</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberAuth</servlet-name>
		<url-pattern>/servlet/MemberAuth.mvc</url-pattern>
	</servlet-mapping>
	
	
	<!-- mvcboard -->
	<servlet>
		<servlet-name>MVCBoardList</servlet-name>
		<servlet-class>model2.mvcboard.ListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MVCBoardList</servlet-name>
		<url-pattern>/mvcboard/list.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MVCBoardView</servlet-name>
		<servlet-class>model2.mvcboard.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MVCBoardView</servlet-name>
		<url-pattern>/mvcboard/view.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MVCBoardWrite</servlet-name>
		<servlet-class>model2.mvcboard.WriteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MVCBoardWrite</servlet-name>
		<url-pattern>/mvcboard/write.do</url-pattern>
	</servlet-mapping>
	
	<!-- paging 변수 -->
	<context-param>
		<param-name>POSTS_PER_PAGE</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<param-name>POSTS_PER_BLOCK</param-name>
		<param-value>5</param-value>
	</context-param>


	<!-- jdbc connect Mysql -->
	<context-param>
		<param-name>MysqlDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	
	<context-param>
		<param-name>MysqlURL</param-name>
		<param-value>jdbc:mysql://localhost:3306/test?useUnicode=true&amp;serverTimezone=Asia/Seoul</param-value>
	</context-param>
	
	<context-param>
		<param-name>MysqlUSER</param-name>
		<param-value>root</param-value>
	</context-param>
	
	<context-param>
		<param-name>MysqlPW</param-name>
		<param-value>1234</param-value>
	</context-param>

</web-app>